.footer-container {
  background-color: #f7f7f7;
  text-align: center;
  height: 100px;
  
  a {
    color: orange;
  }

  a:hover {
    color: #0096d6;
  }

  .ftr-links {
    position: relative;
    bottom: auto;
    }

}
