.bg {
  background-color: #f7f7f7; 
  height: 75vh;
}
.product-detail-container {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background-color: #f7f7f7;
  max-height: 100%;
  font-family: "HPSimplified",arial;
}

.product-detail-img-wrapper {
  width: 62%;
  padding-right: 40px;
}

.product-detail-right-wrapper {
  display: inline-block;
  width: 38%;
  position: relative;
}

.product-detail-title {
  font-size: 30px;
}

.product-detail-atc {
  color: #fff;
  border: 1px solid #0096d6;
  background: #0096d6;
  font-family: HPSimplifiedLight,arial;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
  height: 50px;
  padding: 5px 25px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: color .4s,background-color .4s,border-color .4s;
  transition: color .4s,background-color .4s,border-color .4s;
  font-size: 15px;
  cursor: not-allowed
}

.price-atc-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  width: 100%;
}

.product-price {
  font-size: 28px;
}

.product-desc-wrapper {
  position: absolute;
  top: 30%;

  list-style: none;
  padding-left: 0;
}

.seller-photo {
  width: 50px;
  border-radius: 50px;
}