.products-idx-container {
  background-color: #f7f7f7;
  min-height: 110%;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f7f7f7
}

.product-idx-tile {
  width: 300px;
  padding: 10px;

  a {
    font-size: 20px;
    letter-spacing: .75px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: inherit;
    color: #000;
    font-weight: 400;
  }

  a:hover {
    color: orange;
  }

}

.product-idx-img {
  width: 250px;
}

.img-tile-wrapper {
  
}

.product-title {
  height: 80px;
}

.product-idx-details {
  padding: 50px 12px 12px 12px;
  background-color: #fff;
}

.product-price {
  font-family: HPSimplified,HP Simplified,arial;
  font-size: 22px;
  padding-bottom: 18px;
}

.product-idx-atc {
  color: #fff;
  border: 1px solid #0096d6;
  background: #0096d6;
  font-family: HPSimplifiedLight,arial;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  border-radius: 3px;
  height: 50px;
  padding: 5px 25px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: color .4s,background-color .4s,border-color .4s;
  transition: color .4s,background-color .4s,border-color .4s;
  font-size: 15px;
  cursor: not-allowed
}

.products-pg-container {
  font-size: 32px;
  text-align: center;
  align-content: center;
  margin: auto;
  width: 100%;
  display: flex;  
  justify-content: center;
  background-color: #f7f7f7;

  li {
    float: left;
    list-style: none;
    cursor: pointer;
  }

  li:hover {
    color: #0096d6;
  }
}

  .pg-noncurrent {
    color: black;
  }

  .pg-current {
    color: black;
  }