.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3% 0 3%;
  font-family: HPSimplified,HP Simplified,arial;
}

.nb-logo-wrapper {
  display: flex;
  flex-direction: column;
  font-family: HPSimplified,HP Simplified,arial;
  color: #0096d6;
  font-size: 18px;
  font-weight: 500;

  a {
    font-family: HPSimplified,HP Simplified,arial;
    color: #0096d6;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
}

.hp-logo {
  width: 50px;
  margin-left: 12.5px
}

.welcome, .nav-links, .nb-logo-wrapper {
  line-height: 2;
  padding: 0 10px 0 10px;
}

hr {
  width: 100%;
  position: absolute;
  top: 21px;
  left: 0px;
  right: 0px;
    border:none;
  border-top:1px dotted #c4c4c4;
  color:#c4c4c4;
  background-color:#fff;
  height:1px;
}